[Unit]
Description=镇江化工园区20231206
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=python3 /home/admin/codes/20231206zjhuagong/main.py

[Install]
WantedBy=multi-user.target
